
.Projects-container{
height: 100%;
margin-top: 80px;
border-top: 1px solid var(--font-primary-colour);
border-bottom: 1px solid var(--font-primary-colour);
}
.section-title{
    margin: 20px;
    font-size: 40px;
}
/* project started */
.projects{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.project img{
    width: 100%;
}
.check-al-project{
    display: flex;
    justify-content: center;
}
.check-al-project button{
    padding: 20px 50px;
    background-color: var(--bacground-colour);
    margin-top: 25px;
    margin-bottom: 25px;
    border-right: 1px solid var(--font-primary-colour);
    border-bottom: 1px solid var(--font-primary-colour);
    font-size: 40px;
    text-transform: uppercase;
}
/* project end */
/* blog stared */
.section-blog{
    height: 100%;
    margin-top: 80px;
}
.blogs{
    display: flex;
   justify-content: space-between;
}
.blog-image img{
    width: 100%;
}
.blog{
    max-width: 370px;
}
.tag{
    background-color: var(--font-primary-colour);
   width: fit-content;
   padding: 18px 30px;
   border-radius: 50px;
   margin: 30px 0px;
}
.tag h1{
   color: black;
}
.date-name{
    display: flex;
    gap: 20px;
    
}
.date{
    display:flex;
    align-items: center;
    gap: 10px;
}
.round-date
{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: blueviolet;
}
.round-name
{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: blue;
}
.blog-title h1{

    font-size: 32px;
    margin-top: 20px;
}


/* blog end */
/*testimonial started */
.testimonial-title{
    text-align: center;
   
  
}
#testimonial-description{
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.testimonial-container{
    height: 100%;
    margin-top: 80px;
}
#testimonial-title{
    font-size: 64px;
    color: var(--primary-colour);
}
.testimonial-card{
    margin-top: 80px;
}
.testimonial-card{
    display: flex;
    gap: 10px;
}
.left-side-card-top{
  
    width: 65%;
   
}
.right-side{
    width: 35%;
   background-image: linear-gradient(to bottom right,#5d4af12f,#b90bf95c);

}
.right-side img{
    width: 100%;
}
.right-side h1{
    font-size: 38px;
    margin-top: 40px;
    padding: 10px;

}
.right-side p{
    margin-top: 30px;
    padding: 10px;
    
}
.testi-left-card{
    padding: 10px;
}
.testi-left-card-title{
    font-size: 38px;
    margin-top: 40px;
}
.testi-left-card-desc{
    margin-top: 30px;
}
.left-side-top{
    display: flex;
    background-image: linear-gradient(to bottom right,#5d4af12f,#b90bf95c);
}
.left-side-bottom{
    display: flex;
    margin-top: 10px;
    background-image: linear-gradient(to bottom right,#5d4af12f,#b90bf95c);
}

/* testimonial end */

@media only screen and (min-width: 200px) and (max-width: 576px) {

    .Projects-container{
        height: 100%;
        margin-top: 20px;
        }
    .projects{
        display: grid;
        grid-template-columns: auto;
        gap: 4px;
    }
    .blogs{
        flex-direction: column;
    }
    .testimonial-card{
       flex-direction: column;
    }
    .left-side-top{
        flex-direction: column;
    }
    .left-side-bottom{
        flex-direction: column;
    }
    .left-side-top img{
        width: 100%;
    }
    .left-side-bottom img{
        width: 100%;
    }
    .left-side-card-top{
  
        width: 100%;
       
    }
    .right-side{
        width: 100%;
    
    
    }
    .testi-left-card{
        order: 2;
    }
    .left-sidebottom-image{
        order: 1;
    }
    
}